* {
  font-family: impact;
}
.jumbotron {
  height: 500px;
  background-image: url('img/jumboE.jpg');
  position: relative;
  font-family: impact;
}

/* How to make Sidebars work? */
#sidebarL {
  position: absolute;
  float: left;
  width: 20px;
  background-color: blue;
}

#sidebarR {
  position: absolute;
  float: right;
  width: 20px;
  background-color: gold;
}
/* end Sidebars */

.container {
  position: relative;
  padding: 10px 10px 10px 10px;
}
.container h1 {
  color: #FFF;
  font-size: 48px;
  font-weight: bold;
}

.profile {
  font-size: 30px;
}

.details li {
  font-size: 24px;
}

.fn {
  color: #FF0015;
}

.quotes li {
  font-family: sans-serif;
  font-style: italic;
  font-size: 24px;
}

.link a {
  font-size: 18px;
}
