* {
  font-family: helvetica;
}
.jumbotron {
  height: 500px;
  background-image: url('img/jumboE.jpg');
  position: relative;
  font-family: impact;
  text-align: center;
}

/* How to make Sidebars work? */
#sidebarL {
  position: absolute;
  float: left;
  width: 20px;
}

#sidebarR {
  position: absolute;
  background-color: blue;
  float: right;
  width: 200px;
}
/* end Sidebars */

.container {
  position: relative;
  padding: 10px 10px 10px 10px;
}
.container h1 {
  color: #FFF;
  font-size: 48px;
  font-weight: bold;
}

.profile {
  font-size: 30px;
  color: #1336C1;
  border-style: groove;
  border-color: #EFEB15;
  border-width: 20px;
  text-align: center;
}

.details li {
  color: #1336C1;
  font-size: 24px;
  border: 10px 10px 10px 10px;
  border-color: #EFEB15;
  border-width: thick;
  border-style: groove;
  list-style-type: none;
  text-align: center;
}

.fn {
  color: #FF0015;
}

.quotes li {
  font-family: sans-serif;
  font-style: italic;
  font-size: 24px;
  border-style: none;
  color: #000;
}

.link a {
  font-size: 18px;
}

.thumbnail img {
  height: 250px;
}
